@import './antd.less';
html,
body,
#root {
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ant-rate-star-zero .ant-rate-star-first,
.ant-rate-star-zero .ant-rate-star-second,
.ant-rate-star-active .ant-rate-star-second {
    color: #d5cd9a !important;
}