.visualize {
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    grid-template-columns: 5fr minmax(300px, 1fr);

    .graph {
        overflow: hidden;
        background-color: white;
    }

    .side {
        background-color: #AED99A;
    }
}
