.visualize {
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    grid-template-columns: 10fr minmax(300px, 4fr);

    .graph {
        overflow: hidden;
        background-color: white;
    }

    .side {


        overflow: auto;
        padding: 8px;
        background-color: #aed99a;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .ant-form {
            .ant-row {
                margin-bottom: 8px;
            }
        }

        > div {
            border-radius: 8px;
            padding: 16px;
            background: rgba(255, 255, 255, 0.2);
        }

        .node-details {
            h1,
            h2,
            h3 {
                margin-bottom: 0.1cm;
            }
            h1 ~ * {
                margin-left: 8px;
            }
            h2 ~ * {
                margin-left: 16px;
            }
            h3 ~ * {
                margin-left: 24px;
            }
        }
    }
}
